@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #63AFF7;
    --cor2: #188AF5;
    --cor3: #136DC2;
    --cor4: #0C4275;
    --cor5: #2F5375;
    --cor6: #188af52f;
}

header {
    padding: 40px;
    background-color: var(--cor2);
    background-size: cover;
}

header > h1 {
    color: var(--cor4);
    text-shadow: 2px 2px var(--cor3);
    text-align: center;
}


section#who {
    background-color: var(--cor2);
    display: block;
    padding-bottom: 150px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

section#show {
    background-color: var(--cor2);
    display: block;
    padding-bottom: 150px ;
    margin-bottom: 10px;
}

section#album {
    background-color: var(--cor2);
    display: block;
    padding-bottom: 150px ;
    margin-bottom: 10px;
}

section#com {
    background-color: var(--cor2);
    display: block;
    padding-bottom: 150px ;
    margin-bottom: 10px;
}

section#con {
    background-color: var(--cor2);
    display: block;
    padding-bottom: 150px ;
    margin-bottom: 10px;
}


#imgl > img {
    padding: 10px;
    width: 50vw;
    height: 280px;
    float: left;
    border-radius: 20px;
}

#txtr > h2 {
    padding: 10px;
    color: var(--cor4);
    margin-bottom: 60px;
    text-align: center;

}

#txtr a {
    text-decoration: none;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.199);
    padding: 10px;
    margin-left: 12vw;
}

#txtr a:hover {
    background-color: rgba(255, 255, 255, 0.541);
}

#imgr > img {
    padding: 10px;
    width: 50vw;
    height: 280px;
    float: right;
    border-radius: 20px;
}

#txtl > h2 {
    padding: 10px;
    color: var(--cor4);
    margin-bottom: 60px;
    text-align: center;

}

#txtl a {
    text-decoration: none;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.199);
    padding: 10px;
    margin-left: 14vw;

}

#txtl a:hover {
    background-color: rgba(255, 255, 255, 0.541);
}

#txtl p {
    color: var(--cor4);
}

#txts > h2 {
    padding: 10px;
    color: var(--cor4);
    margin-bottom: 70px;
    text-align: center;
}

.fa {
    text-decoration: none;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.199);
    padding: 10px;
}

.fa:hover {
    background-color: rgba(255, 255, 255, 0.541);
}

#face {margin-left: 40px;}

footer {
    background-color: var(--cor2);
    display: block;
}

footer p {text-align: center;
font-size: 0.7em;
padding: 10px;
}



