@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #63AFF7;
    --cor2: #188AF5;
    --cor3: #136DC2;
    --cor4: #0C4275;
    --cor5: #2F5375;
    --cor6: #188af52f;
}

header {
    padding: 10px;
    background-color: var(--cor4);
    background-size: cover;
}

header > h1 {
    color: var(--cor2);
    text-shadow: 2px 2px var(--cor3);
    text-align: center;
}

section#who {
    background: url(../imagens/who.jpg) center bottom;
    background-size: cover;
    color: white;
    padding-top: 20px;
    padding-bottom: 400px;
}

section#twho {
    padding: 10px;
    width: 350px;
    margin: auto;
}

section#twho p {
    text-align: center;
}

section#who h2 {
   text-align: center;
}

section#ialbum {
    width: 60vw;
    margin: auto;
    margin-bottom: 10px;
}

section#talbum h2 {
    text-align: center;
    color: var(--cor4);
    padding-top: 20px;
}

section#talbum p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

section#talbum a {
    background-color: var(--cor4);
    color: white;
    text-decoration: none;
    padding: 10px;

}

section#talbum a:hover {
    background-color: var(--cor3);
}

   section#ialbum img {
    width: 60vw;
}

section#show {
    background: url(../imagens/show.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
    margin-bottom: 10px;
}

section#tshow h2 {
    text-align: center;
    color: white;
    padding: 20px;
}

section#tshow p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

section#tshow a {
    background-color: var(--cor4);
    color: white;
    text-decoration: none;
    padding: 10px;

}

section#tshow a:hover {
    background-color: var(--cor3);
}

section#com {
    background: url(../imagens/fa.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
}

section#tcom h2 {
    text-align: center;
    color: var(--cor4);
    padding-top: 20px;
}

section#tcom p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

section#tcom a {
    background-color: var(--cor4);
    color: white;
    text-decoration: none;
    padding: 10px;

}

section#tcom a:hover {
    background-color: var(--cor3);
}

section#icon {
    width: 80vw;
    margin: auto;
    margin-bottom: 10px;
}

section#tcon h2 {
    text-align: center;
    color: var(--cor4);
    padding-top: 20px;
}

section#tcon p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

   section#icon img {
    width: 80vw;
}

.fa {
    text-decoration: none;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin-right: 2px ;
    margin-left: 2px ;
    border-radius: 10px;
    width: 4vw;
}

.fa:hover {
    background-color: var(--cor3)}

footer {
    background-color: var(--cor4);
    display: block;
}

footer p {
text-align: center;
font-size: 0.7em;
padding: 10px;
color: white;
}



